.body {
  color: black;
}

#book-cont {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}

.form-title {
  margin-top: 5px;
  text-align: center;
}

.form-element {
  width: 240px;
  margin: 2px;
}

#add-btn {
  margin-top: 5px;
  margin-right: -57%;
}

.book-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: beige;
  padding: 0 1rem;
  gap: 1rem;
}

.book-card:nth-child(even) {
  background: white;
}

.book-title,
.book-author {
  display: inline;
  text-transform: capitalize;
}

.book-title::after {
  content: '"';
}

.book-title::before {
  content: '"';
}

.book-btn {
  position: absolute;
  right: 1rem;
  padding: 0.5rem 2rem;
}
